@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*Main body styles and background*/
body {
    background: url('../images/music-notes.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #ccc;
    font-family: 'Nova Round', cursive;
    color: #ffff00;
}

#home-page-heading {
    margin-top: 20px;
}

/*Quiz name heading and sub-heading*/
h1 {
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 8vw;
    text-shadow: 4px 4px #0000ff;
}

h2 {
    font-size: 5vw;
    margin-top: 0.2em;
    text-align: center;
    text-shadow: 4px 4px #0000ff;
}

/*Container for play and rules buttons*/
.container {
    display: grid;
    height: calc(100vh - 130px);
    min-width: 320px;
    justify-items: center;
    align-items: center;
    margin: auto;
}

/*Button styling*/
.btn {
    font-family: 'Nova Round', cursive;
    background: #ffff00;
    color: #0000ff;
    font-weight: bold;
    font-size: 2rem;
    padding: 15px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #0000ff;
}

.btn:hover {
    cursor: pointer;
}

/*Code for botton click adapted from geeksforgeek.org*/
.btn:active {
    transform: scale(0.95);
}

/*Style play link to look like button*/
#play-btn-main {
    text-decoration: none;
    align-self: end;
    margin-bottom: 50px;
    margin-top: -70px;
    align-self: end;
}

#rules-btn {
    align-self: start;
}

/*Code for modal adapted from W3Schools*/
/*Rules Modal*/
/*Help with centering modal from stackoverflow.com*/
.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    color: #ffff00;
    background-color: #0000ff;
    margin: 3rem auto;
    padding: 20px;
    border: 2px solid #ffff00;
    width: 80%;
    min-width: 320px;
}

.modal-content h3 {
    font-size: 1.5rem;
    text-decoration: overline underline;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
}

.modal-content p {
    font-size: 1.3rem;
    padding: 20px;
    line-height: 1.4;
}

.modal-content a {
    text-align: center;
}

#play-btn-modal {
    text-decoration: none;
    position: relative;
}

.close {
    color: #ffff00;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffff00;
    text-decoration: none;
    cursor: pointer;
}

/*Header for quiz page*/
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*House icon for home page link*/
.header a {
    justify-self: center;
    align-self: center;
}

#home {
    color: #ffff00;
    margin: 4px 2px;
    font-size: 40px;
}

/*Score container*/
#score-area {
    color: #0000ff;
    margin: 0.5rem;
    font-size: 1.6rem;
    text-align: center;
    background-color: #ffff00;
    font-weight: bold;
    padding: 8px;
    border: 2px solid #0000ff;
    border-radius: 5px;
}

/*Quiz page styles*/
#question-container {
    color: #0000ff;
    font-size: 3.8vw;
    margin: 0.5rem;
    text-align: center;
    background-color: #ffff00;
    font-weight: bold;
    padding: 8px;
    border: 2px solid #0000ff;
    border-radius: 5px;
}

#quiz-area {
    max-width: 780px;
}

#answers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.answer {
    margin: 1rem;
    display: grid
}

.answer-btn {
    background-color: #0000ff;
    color: #ffff00;
    font-weight: bold;
    padding: 15px 10px;
    margin: 5px;
    font-size: 3vw;
    font-family: 'Nova Round';
    letter-spacing: 2px;
    border: 1px solid #ffff00;
    border-radius: 5px;
}

/*Changes answer button if correct*/
.correct {
    background-color: green;
    color: white;
    box-shadow: none;
    border: 2px solid white;
    border-radius: 5px;
}

/*Changes answer button if incorrect*/
.incorrect {
    background-color: red;
    color: white;
    box-shadow: none;
    border: 2px solid white;
    border-radius: 5px;
}

/*Fade effect for quiz play area*/
.fade-me{
    transition: opacity 0.5s ease;
}

/*Result Page styles*/
.result-container {
    display: grid;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
    background-color: #ffff00;
    color: #0000ff;
    border: 3px solid #0000ff;
    border-radius: 5px;
}

.result-container h3 {
    font-size: 2rem;
    padding: 10px;
    justify-self: center;
}

.result-container p {
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 600;
}

.result-container a {
    justify-self: center;
}

#play-again-btn {
    background-color: #0000ff;
    color: #ffff00;
    margin-bottom: 20px;
    text-decoration: none;
}

/* Music Controller */
.circle {
    height: 36px;
    width: 36px;
    border: 2px solid #ffff00;
    background: #00f;
    color: #ffff00;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 12px auto 0;
}

.circle i {
    font-size: 1.6rem;
    margin: 4px 2px;

}

/* helper class to hide elements with javascript */
.hide {
    display: none;
}


/*Media Queries*/

/* Larger Device Styles tablets and larger */
@media screen and (min-width: 778px) {

    #quiz-area,
    #result-container {
        max-width: 1200px;
        width: 100%;
    }

    #question-container,
    #answers-container {
        max-width: 1200px;
        min-width: 100%;
        margin: 10px;
        width: 100%;
    }
    
}

/*Medium screens and smaller*/
@media screen and (max-width: 620px) {

    #question-container {
        font-size: 5vw;
    }

    #answers-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        margin: auto;
        font-size: 5vw;
    }
}